__pycache__/
*.pyc
assigned_optimal.csv
components_analysis*.png
components_graph*.png
cooldown_debug_by_pf.csv
fairness_plots_bars.png
fairness_plots_lorenz.png
loads_by_person.csv
logs/
models.txt
models_summary.csv
penalties_activated.csv
remaining_unassigned_only.csv
schedule.opb
stats.txt
varmap.json
